body {
    padding: 0;
    margin: auto;
    font-family: sans-serif;
    color: white;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin: 0.5em;
    color: #ccc;
}

a {
    color: #4E93BF;
    text-decoration: none;
}

a:hover {
    color: #8FBF1A;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#fractalTree {
    position: relative;
}

.grass {
    width: 100%;
    background-color: #8AA805;
    height: 1%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 24%;
    width: 100%;
    text-align: center;
    background-color:#1A5C82;
}

.controls {
    margin: 0 auto;
    color: #eee;
    text-align: center;
    max-width: 400px;
}

.control {
    display: inline-block;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #8AA805;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: #BFB604;
}
input[type=range]::-webkit-slider-thumb:active {
  background: #D97600;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #8AA805;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover {
  background: #BFB604;
}

input[type=range]::-moz-range-thumb:active {
  background: #D97600;
}


input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #8AA805;
  cursor: pointer;
}
input[type=range]::-ms-thumb:hover {
  background: #BFB604;
}

input[type=range]::-ms-thumb:active {
  background: #D97600;
}


input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}